@import "bootstrap.less";
@import "libs/ie-rgbabg.less";

// general styles
a {color:#ccc;}
a:hover {color:#08c;}
.active > a, a.active {color:#08c;}

// body / background
body {overflow-x:hidden;}

// header
header.main {.clearfix;max-width:1080px;margin:0 auto;}

// general content
.main-content {margin-bottom:40px;max-width:1080px;margin:0 auto;}

