{% extends "layout.html" %}

{% block content %}

<section>
  <h2>Portfolio</h2>
</section>

<section>
  <h2>About Me</h2>

  <p>I am a London based composer - my music has been featured in Cinema, on TV and online campaigns for major brands and broadcasters including Google, SKY, E4, Nickelodeon TV, Virgin Media and BBC1.</p>
  <p>My ethos is simply to fit in with your creative needs and offer complete artistic diversity with a super fast turnaround.</p>
  <p>I can create fresh and inspiring music that will move and engage your audience - or take a back seat and provide a more subtle musical approach - it's your call...</p>
</section>

{% endblock %}

