{% extends "layout.html" %}

{% block content %}

<section>
  <header class="portfolio-head">
    <span>My Work</span>

    <div class="controls">
      <a href="#" class="portfolio-prev">&laquo;</a>
      <a href="#" class="portfolio-next">&raquo;</a>
    </div>
  </header>

  <div class="portfolio-shell">
    <ul class="portfolio">

      <li>
        <a href="http://www.youtube.com/watch?v=jlVR7rL6tOc" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/14-lg-pro.jpg') }}" /></a>
        <div>
          <h2>LG Optimus G Pro</h2>

          <p>The all new LG Optimus G Pro phone has been released and I have composed the music for
          their ad campaign. Building from a delicate, intriguing riff and rich strings into a
          powerful mix of edgy guitars, cinematic drums and orchestral elements the subject
          takes a journey through the world of imagination all via his smartphone. Look out for
          this now playing out worldwide across TV and Cinema.</p>
        </div>
      </li>

      <li>
        <a href="/soundcloud/shelf-life.html?iframe=true" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/15-shelf-life.jpg') }}" /></a>
        <div>
          <h2>Shelf Life</h2>

          <p>I composed the score for HalfCuts amazing new immersive promenade show 'Shelf Life' currently
          running at Marylebone Gardens W1U 4QA. The idea was that the tracks could be played in their
          respective environments to generate a real sense of atmosphere that would help sensationalize
          the journey for the audience. I was challenged to come up with something that would allow
          each audience member to have the same experience and yet not be too intricate or repetitive.</p>
        </div>
      </li>

      <li>
        <a href="/soundcloud/jennings.html?iframe=true" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/16-jennings.jpg') }}" /></a>
        <div>
          <h2>Jennings Brand Anthem</h2>

          <p>I have composed and produced the uplifting radio brand anthem for the nations largest
          independent motor dealer - Jennings.  The campaign will run on regional radio in the
          North East of the country for the rest of 2013 so make sure you listen out when 
          you’re road trippin’ up north!</p>
        </div>
      </li>

      <li>
        <a href="http://vimeo.com/76281890" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/13-maybelline.jpg') }}" /></a>
        <div>
          <h2>Maybelline - New York</h2>

          <p>Things are getting pretty rock n roll in the glamour world... I composed this 
          Americana-guitar track which has been used for Maybelline’s Superstay campaign 
          and is playing out on TV in the UK and Ireland.</p>

          <p>Packing in raw energy and upbeat melody this track sets off the vibrancy 
          of the footage plus it’s been featured in that all mighty prime time X Factor 
          commercial slot with viewing figures in approaching 10 million!</p>
        </div>
      </li>

      <li>
        <a href="http://vimeo.com/46418786" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/01-channel-4.jpg') }}" /></a>
        <div>
          <h2>Channel 4 Tweeser</h2>

          <p>Channel 4 were after some floaty and organic music to provide a relaxed and 
          uplifting sonic entity for their new ‘4seven’ tweesers. Taking the brief head on, 
          I used soft strings, pulsing electro bass, reversed piano and subtle glitchy 
          percussion to musically reinforce the Channel 4 brand whilst keeping it 
          light enough for heavy rotation.</p>

          <p>Broadcast several times a day during ad breaks, these tweesers collate the 
          reaction from newspapers and social media to reflect the popularity of the 
          shows - so get online and get your tweets on TV!</p>
        </div>
      </li>

      <li>
        <a href="http://vimeo.com/76282622" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/02-my-care.jpg') }}" /></a>
        <div>
          <h2>My Care My Home</h2>

          <p>Fellow composer Simon Brown and I created this heartfelt acoustic guitar 
          track which has been featured in this simple and yet charming Care Home 
          advert being shown in cinemas and online.</p>
        </div>
      </li>

      <li>
        <a href="http://vimeo.com/76282864" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/03-virgin-media.jpg') }}" /></a>
        <div>
          <h2>Virgin Media - WiFi on the London Underground</h2>

          <p>Virgin Media are providing Londoners with free WiFi on the London Underground 
          this Summer. I composed this driving electronic/orchestral track which they 
          selected to soundtrack their funky and informative animated video.</p>
        </div>
      </li>

      <li>
        <a href="/soundcloud/apprentice.html?iframe=true" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/04-the-apprentice.jpg') }}" /></a>
        <div>
          <h2>The Apprentice</h2>

          <p>I composed some orchestral quirks for BBC1’s mega show The Apprentice.  It 
          was an honor to be involved with this as I’ve always been a big fan of the 
          music used on the show.</p>

          <p>Magical Panda Forrest draws on the filmic, epic shots of London whilst The Trundle 
          is a more whimsical theme to make light of the some of the tasks and characters in the show.</p>
        </div>
      </li>

      <li>
        <a href="http://vimeo.com/76342138" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/05-new-dad.jpg') }}" /></a>
        <div>
          <h2>Google - New Dad</h2>

          <p>Another of Google’s Search Stories, this one charting the story of a new dad. I 
          wanted to amplify the emotion and delicacy of his new born baby with acoustic guitar, 
          strings and glockenspiel. This ad was online in UK and televised in European territories.</p>
        </div>
      </li>

      <li>
        <a href="/soundcloud/tower.html?iframe=true" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/06-the-tower.jpg') }}" /></a>
        <div>
          <h2>The Tower</h2>

          <p>One of my tracks was used by Motion Picture company Uzong Films in their TV pilot - 'The Tower'.</p>
        </div>
      </li>

      <li>
        <a href="http://vimeo.com/76757419" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/07-e4-slackers-club.jpg') }}" /></a>
        <div>
          <h2>E4 Slackers Club</h2>

          <p>I created this pastiche of 1970s horror film music for E4 Slackers Club all packed 
          into a 10 second ident. If you can't hear it above the cries of those noisy 
          zombies then <a rel="prettyPhoto" href="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F38111157&amp;show_artwork=true&iframe=true">have a listen on soundcloud</a></p>
        </div>
      </li>

      <li>
        <a href="http://vimeo.com/76282866" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/08-google-sizzle.jpg') }}" /></a>
        <div>
          <h2>Google Sizzle Reel</h2>

          <p>I composed this track for Google who created this video to showcase 
          the future of the company to advertising agencies around the world.  They 
          wanted an elevating and contemporary track that kept momentum and 
          attention throughout.</p>
        </div>
      </li>

      <li>
        <a href="http://vimeo.com/42755467" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/09-sky-3d.jpg') }}" /></a>
        <div>
          <h2>Sky 3D Gold Spot Cinema</h2>

          <p>This was a musical collaboration I did with some of Jungle’s finest 
          (Mike Bamford, Simon Brown, Lanfranco Gaglione and Rick Morris) providing 
          an uplifting track that ran on the SKY 3D channels and 3D Cinema.</p>
        </div>
      </li>

      <li>
        <a href="http://www.youtube.com/watch?v=QOM8wcO9tYc" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/10-google-glasto.jpg') }}" /></a>
        <div>
          <h2>Google Search Stories - Glastonbury 2010</h2>

          <p>For part of Google's Search Stories online campaign, I created this 
          upbeat rock track. The client was after a piece of music that "sounds 
          familiar to the bands that were headlining the festival" - so out came 
          the electric guitars and synthesizers to create this festival sized anthem 
          which brings together the protagonists romantic journey through the festival. 
          Featured on Guardian Online it racked up 120,000 views in 48hours.</p>
        </div>
      </li>

      <li>
        <a href="http://vimeo.com/76282865" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/11-nickelodeon.jpg') }}" /></a>
        <div>
          <h2>Nickelodeon - Martian Moon Marathon</h2>

          <p>Have you ever wondered what the London Marathon would look like if it 
          were to take place in outer space? Well wonder no more because Nickelodeon 
          have created the 'Martian Moon Marathon' in this highly entertaining animation 
          for which I composed the music.I had a lot of fun with this drawing musical 
          inspiration from the many hours I spent glued to the screen playing MarioKart 64. 
          I used a selection of lofi synthesisers and electronic drum pads to maintain 
          that spacey feel with a playful tone that would appeal to a young audience.</p>
        </div>
      </li>

      <li>
      <a href="http://www.youtube.com/watch?v=KU9rBMunVJM" rel="prettyPhoto"><img src="{{ url_for('static', filename='img/12-trading-licks.jpg') }}" /></a>
        <div>
          <h2>Trading Licks</h2>

          <p>I composed part of the score for short film 'Trading Licks' starring 
          Roger Allam (Pirates of the Caribbean: On Stranger Tides, Woman In Black) 
          and Justin Edwards (The Thick of It).</p>

          <p>Director Adrian Tanner was after some tongue in cheek 80's Jazz Fusion 
          to soundtrack the film so as you can imagine, things got pretty funky in 
          the studio whilst I was laying down slap bass lines and jazzy keyboard 
          riffs with one track even featuring a solo from guitar legend John Etheridge.</p>
        </div>
      </li>

    </ul>
  </div>
</section>

<section class="about">
  <h2>About Me</h2>

  <p>I am a London based composer - my music has been featured in Cinema, on TV and online campaigns for major brands and broadcasters including Google, SKY, E4, Nickelodeon TV, Virgin Media and BBC1.</p>
  <p>My ethos is simply to fit in with your creative needs and offer complete artistic diversity with a super fast turnaround.</p>
  <p>I can create fresh and inspiring music that will move and engage your audience - or take a back seat and provide a more subtle musical approach - it's your call...</p>
</section>

{% endblock %}

