<!doctype html>
<html lang="en">
  <head>
    <title>James Headley Music</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/libs/html5.js') }}"></script>
      <script src="{{ url_for('static', filename='js/libs/css3-mediaqueries.js') }}"></script>
    <![endif]-->
  </head>
  <body>
    {% block header %}
      <header class="main">
        <ul class="navlayout">
          <li class="left">
            <a href="#" class="home-link"><h1>James Headley Music</h1></a>
          </li>
          <li class="right">
            <a href="tel:020xxxxxxx" class="contact">020 xxx xxxx</a>
          </li>
          <li class="center">
          </li>
        </ul>
      </header>
    {% endblock %}

    <div class="main-content">
      {% block content %}{% endblock %}
    </div>

    <!-- use require to load everything -->
    <script data-main="{{ url_for('static', filename='js/app.js') }}" src="{{ url_for('static', filename='js/libs/require.min.js') }}"></script>
  </body>
</html>

