<!doctype html>
<html lang="en">
  <head>
    <title>James Headley Music</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/libs/html5.js') }}"></script>
      <script src="{{ url_for('static', filename='js/libs/css3-mediaqueries.js') }}"></script>
    <![endif]-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35095058-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="color-bar"></div>

    {% block header %}
      <header class="main">
        <hgroup class="pull-left">
          <h1>James Headley Music</h1>
          <p>Music Composition - TV | Advertising | Film | Theatre | Media</p>
        </hgroup>
      </header>
    {% endblock %}

    <div class="main-content">
      {% block content %}{% endblock %}
    </div>

    {% block footer %}
      <footer class="main">
        <div class="inner">
          <a href="mailto:james.headley@hotmail.co.uk" class="pull-left">james.headley@hotmail.co.uk</a>
          <a href="tel:07912 253416" class="pull-right"><span class="mobile-label">mobile: </span>07912 253416</a>
        </div>
      </footer>
    {% endblock %}

    <!-- use require to load everything -->
    <script data-main="{{ url_for('static', filename='js/app.js') }}" src="{{ url_for('static', filename='js/libs/require.min.js') }}"></script>
  </body>
</html>

